/* ===== font family link ===== */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;800;900&display=swap');
/* ===== common css starts ===== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
ul,
ol{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.custom-container{
  width: 1140px;
  margin: 0 auto;
  /* background: rgb(97, 87, 87); */
}
span{
  color: var(--brand);
}
/* ===== common css ends ===== */
/* ===== variable declaration ===== */
:root{
  --p-col: #3C354F;
  --icon-bg: #E7E6E9;
  --brand: #FF42A5;
  --sub-head: #0B0223;
  --white: #ffffff;
  --bg-list-col: #534C64;
}
/* ===== variable declaration ===== */
/* ===== header css starts ===== */
nav{
  padding: 30px 0;
}
.nav-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-area{
  width: 20%;
  display: flex;
  align-items: center;
}
.logo-area img{
  width: 60px;
  margin-right: 10px;
}
.brand-name{
  font-size: 36px;
  font-weight: 700;
}
.list-area{
  display: flex;
  justify-content: end;
  width: 80%;
}
.menu-items li a{
  color: var(--p-col);
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
  transition: all linear .3s;
}
.menu-items-1{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.menu-items-1 li a:hover{
  color: var(--brand);
}
.menu-items-2{
  display: flex;
  align-items: center;
  background: var(--icon-bg);
  padding: 10px 0 10px 20px;
  border-radius: 5px;
}
/* ===== banner css starts ===== */
.banner-contents{
  display: flex;
  align-items: center;
}
.banner-text{
  width: 50%;
}
.banner-text ul li{
  color: var(--bg-list-col);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.banner-text ul{
  margin-bottom: 20px;
}
.banner-text ul li img{
  margin-right: 10px;
  width: 20px;
}
.banner-sub-heading{
  color: var(--sub-head);
  font-size: 40px;
  font-weight: 600;
}
.banner-heading{
  color: var(--brand);
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 20px;
}
.btn-primary{
  background: var(--brand);
  border: none;
  padding: 12px 20px;
  color: var(--white);
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
}
.btn-secondary{
  background: #4EC5F7;
  border: none;
  padding: 12px 20px;
  color: var(--white);
  border-radius: 50px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 600;
}
.banner-images{
  width: 50%;
}
.banner-images img{
  width: 100%;
}
/* ===== banner css ends ===== */
/* ===== header css ends ===== */

/* ===== main css starts ===== */
/* ===== gamer css starts ===== */
#gamer{
  padding: 20px 0;
}
.gamer-contents{
  display: flex;
  align-items: center;
}
.gamer-image-area{
  width: 60%;
}
.gamer-image-area img{
  width: 100%;
}
.gamer-text-area{
  width: 40%;
  text-align: right;
}
.gamer-heading{
  color: var(--brand);
  font-size: 36px;
  font-weight: 700;
}
.gamer-para{
  color: var(--bg-list-col);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 15px 0;
}
.gamer-bottom-heading{
  color: var(--bg-list-col);
  font-weight: 500;
  font-size: 18px;
  margin-top: 15px;
}
.gamer-last-heading{
  color: var(--bg-list-col);
  font-weight: 700;
  font-size: 28px;
}
/* ===== gamer css ends ===== */
/* ===== videos css starts ===== */
#videos{
  padding: 80px 0;
}
.videos-heading{
  text-align: center;
}
.video-section-heading{
  font-size: 36px;
  font-weight: 700;
}
.video-section-para{
  color: var(--bg-list-col);
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 30px;
}
.video-cards{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  /* cursor: pointer; */
}
.video-card img{
  width: 100%;
}
.card-image{
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.card-image:hover .card-image-overlay{
  left: 0;
}
.card-image-overlay{
  width: 100%;
  height: 100%;
  background: #00000093;
  position: absolute;
  top: 0;
  left: -100%;
  border-radius: 10px;
  border: 3px solid var(--brand);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all linear .4s;
}
.overlay-contents{
  text-align: center;
}
.overlay-contents i{
  font-size: 40px;
  color: var(--white);
  margin-bottom: 10px;
  cursor: pointer;
  transition: all linear .4s;
}
.overlay-contents i:hover{
  color: var(--brand);
}

.video-para{
  color: var(--brand);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
.card-text{
  color: var(--bg-list-col);
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
}
/* ===== videos css ends ===== */
/* ===== play-instant css starts ===== */
#play{
  padding-bottom: 180px;
}
.play-contents{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.play-texts{
  width: 40%;
  text-align: right;
}
.instant-play-heading{
  color: var(--brand);
  font-size: 36px;
  font-weight: 700;
  margin-top: 50px;
}
.instant-play-para{
  color: var(--bg-list-col);
  font-size: 16px;
  font-weight: 400;
  padding-left: 130px;
  line-height: 24px;
}
.play-images{
  width: 60%;
  height: 500px;
  position: relative;
  text-align: right;
}
.play-image-1{
  width: 500px;
  height: 550px;
  position: absolute;
  top: 0;
  right: 0;
}
.play-image-1 img{
  width: 100%;
}
.play-image-2{
  width: 280px;
  height: 300px;
  position: absolute;
  top: 300px;
  left: 50px;
}
.play-image-2 img{
  width: 100%;
}
/* ===== play-instant css ends ===== */
/* ===== play-online css starts ===== */
#play-online{
  padding-bottom: 180px;
}
.play-online-contents{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.play-online-texts{
  width: 40%;
  text-align: left;
}
.online-play-heading{
  color: var(--brand);
  font-size: 36px;
  font-weight: 700;
  margin-top: 50px;
}
.online-play-para{
  color: var(--bg-list-col);
  font-size: 16px;
  font-weight: 400;
  padding-right: 30px;
  line-height: 24px;
}
.play-online-images{
  width: 60%;
  height: 500px;
  position: relative;
  text-align: left;
}
.play-online-image-1{
  width: 500px;
  height: 550px;
  position: absolute;
  top: 0;
  left: 0;
}
.play-online-image-1 img{
  width: 100%;
}
.play-online-image-2{
  width: 280px;
  height: 300px;
  position: absolute;
  top: 300px;
  right: 50px;
}
.play-online-image-2 img{
  width: 100%;
}
/* ===== play-online css ends ===== */
/* ===== careers css starts ===== */
#careers{
  background: var(--brand);
  margin-bottom: 100px;
  padding: 80px 0;
  position: relative;
}
#careers::after{
  content: "";
  height: 100%;
  width: 50%;
  background: url("../images/group-65.png") no-repeat center / cover;
  position: absolute;
  top: 0;
  right: 0;
}
.careers-contents{
  display: flex;
  align-items: center;
}
.careers-content-area{
  width: 50%;
}
.careers-content-heading{
  color: var(--white);
  font-size: 36px;
  font-weight: 700;
}
.careers-content-para{
  color: var(--white);
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 24px;
}
.career-list-area{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.career-list-area ul li{
  color: var(--white);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}
.career-left-list{
  width: 50%;
  height: 100%;
}
.career-right-list{
  width: 50%;
  height: 100%;
  text-align: right;
}
.btn-career{
  background: var(--white);
  border: none;
  padding: 12px 20px;
  color: var(--brand);
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
}
/* ===== careers css ends ===== */
/* ===== categories css starts ===== */
#categories{
  margin-bottom: 100px;
}
.category-cards{
  display: grid;
  grid-template-areas:
  "btn-1 btn-1 btn-1 btn-1  btn-2 btn-2 btn-2 btn-2 btn-3 btn-3 btn-3 btn-3 btn-4 btn-4 btn-4 btn-4 btn-5 btn-5 btn-5 btn-5"
  "btn-6 btn-6 btn-6 btn-6 btn-6 btn-7 btn-7 btn-7 btn-7 btn-7 btn-8 btn-8 btn-8 btn-8 btn-8 btn-9 btn-9 btn-9 btn-9 btn-9"
  ;
  gap: 10px;

}
.category-card{
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 100px;
  border: 1px solid transparent;
  transition: all linear 0.3s;
}
.category-card img{
  margin-right: 10px;
}
.category-card:hover{
  border-color: var(--brand);
  cursor: pointer;
}
.category-card-1{
  grid-area: btn-1;
}
.category-card-2{
  grid-area: btn-2;
}
.category-card-3{
  grid-area: btn-3;
}
.category-card-4{
  grid-area: btn-4;
}
.category-card-5{
  grid-area: btn-5;
}
.category-card-6{
  grid-area: btn-6;
}
.category-card-7{
  grid-area: btn-7;
}
.category-card-8{
  grid-area: btn-8;
}
.category-card-9{
  grid-area: btn-9;
}
/* ===== categories css ends ===== */
/* ===== main css ends ===== */

/* ===== footer css starts ===== */
/* ===== footer css ends ===== */