/* ===== font family link ===== */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;800;900&display=swap');
/* ===== common css starts ===== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
ul,
ol{
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
.custom-container{
  width: 1140px;
  margin: 0 auto;
  /* background: rgb(97, 87, 87); */
}
span{
  color: var(--brand);
}
/* ===== common css ends ===== */
/* ===== variable declaration ===== */
:root{
  --p-col: #3C354F;
  --icon-bg: #E7E6E9;
  --brand: #FF42A5;
  --sub-head: #0B0223;
  --white: #ffffff;
  --bg-list-col: #534C64;
}
/* ===== variable declaration ===== */
/* ===== header css starts ===== */
nav{
  padding: 30px 0;
}
.nav-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-area{
  width: 20%;
  display: flex;
  align-items: center;
}
.logo-area img{
  width: 60px;
  margin-right: 10px;
}
.brand-name{
  font-size: 36px;
  font-weight: 700;
}
.list-area{
  display: flex;
  justify-content: end;
  width: 80%;
}
.menu-items li a{
  color: var(--p-col);
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
  transition: all linear .3s;
}
.menu-items-1{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.menu-items-1 li a:hover{
  color: var(--brand);
}
.menu-items-2{
  display: flex;
  align-items: center;
  background: var(--icon-bg);
  padding: 10px 0 10px 20px;
  border-radius: 5px;
}
/* ===== banner css starts ===== */
.banner-contents{
  display: flex;
  align-items: center;
}
.banner-text{
  width: 50%;
}
.banner-text ul li{
  color: var(--bg-list-col);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.banner-text ul{
  margin-bottom: 20px;
}
.banner-text ul li img{
  margin-right: 10px;
  width: 20px;
}
.banner-sub-heading{
  color: var(--sub-head);
  font-size: 40px;
  font-weight: 600;
}
.banner-heading{
  color: var(--brand);
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 20px;
}
.btn-primary{
  background: var(--brand);
  border: none;
  padding: 12px 20px;
  color: var(--white);
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
}
.btn-secondary{
  background: #4EC5F7;
  border: none;
  padding: 12px 20px;
  color: var(--white);
  border-radius: 50px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 600;
}
.banner-images{
  width: 50%;
}
.banner-images img{
  width: 100%;
}
/* ===== banner css ends ===== */
/* ===== header css ends ===== */

/* ===== main css starts ===== */
/* ===== gamer css starts ===== */
#gamer{
  padding: 20px 0;
}
.gamer-contents{
  display: flex;
  align-items: center;
}
.gamer-image-area{
  width: 60%;
}
.gamer-image-area img{
  width: 100%;
}
.gamer-text-area{
  width: 40%;
  text-align: right;
}
.gamer-heading{
  color: var(--brand);
  font-size: 36px;
  font-weight: 700;
}
.gamer-para{
  color: var(--bg-list-col);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 15px 0;
}
.gamer-bottom-heading{
  color: var(--bg-list-col);
  font-weight: 500;
  font-size: 18px;
  margin-top: 15px;
}
.gamer-last-heading{
  color: var(--bg-list-col);
  font-weight: 700;
  font-size: 28px;
}
/* ===== gamer css ends ===== */
/* ===== main css ends ===== */

/* ===== footer css starts ===== */
/* ===== footer css ends ===== */